{% extends 'base.html.twig' %}

{% block title %}Représentations{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="bg-white col-md-10 mx-auto p-4 border border-2 border-green rounded shadow">

            <h2 class="text-center mb-4">Liste des représentations</h2>

            <div class="d-flex justify-content-between mb-3">
                <a href="{{ path('app_admin_spectacle_index', {'id': spectacle.artiste.id}) }}" class="btn btn-secondary">
                    Retour à la liste
                </a>
                <a href="{{ path('app_admin_representation_new', {'id': spectacle.id}) }}" class="btn btn-custom">
                    Ajouter une représentation
                </a>
            </div>

            <table class="table table-striped table-hover align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for representation in representations %}
                        <tr>
                            <td>{{ representation.id }}</td>
                            <td>{{ representation.dateRepresentation ? representation.dateRepresentation|date('d/m/Y') : '' }}</td>
                            <td>{{ representation.heureRepresentation ? representation.heureRepresentation|date('H:i') : '' }}</td>
                            <td>{{ representation.prix }} €</td>
                            <td>
                                {# <a href="{{ path('app_admin_representation_show', {'id': representation.id}) }}" class="btn btn-sm btn-primary">Voir</a> #}
                                <a href="{{ path('app_admin_representation_edit', {'id': representation.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Aucune représentation pour le moment</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}